*.swp
*.gem
*.stackdump
.bake/
test_main/
test_p1/
wrongConfig_main/
test/
build/
rel_test*
test1/
test2/
test3/
test*_*_*/
Debug*/
dummy_main*/
*.exe
**/obj/*
**/_build/doctrees/*
coverage/*
rake_helper/dummy.a
spec/testdata/cache/main/makefile/dummy.a
spec/testdata/merge/main/lib/*.a
testdot.dot
*.json
.qacdata
*.stamp
doc/
documentation/_build
